.selector-container {
    margin-top: 25px;
    font-size: 10px;
    color: #444;
    letter-spacing: 1px;
}

select {
    background: #000;
    border: 1px solid #222;
    color: #888;
    font-size: 10px;
    padding: 5px;
    outline: none;
    cursor: pointer;
    text-transform: uppercase;
}

select:hover {
    border-color: #fff;
    color: #fff;
}
